<form [formGroup]="checkoutForm">

  <div>
    <label for="name">
      Name
    </label>
    <input id="name" type="text" formControlName="name">
  </div>

  <div>
    <label for="email">
      email
    </label>
    <input id="email" type="text" formControlName="email">
  </div>

  <div>
    <label for="password">
      password
    </label>
    <input id="password" type="text" formControlName="password">
  </div>

  <div>
    <label for="password">
      password_confirmation
    </label>
    <input id="password_confirmation" type="text" formControlName="password_confirmation">
  </div>

  <button class="button" (click)="addUsers()">Add Users</button>


</form>
<button class="button" (click)="showUsers()">Show Users</button>

<div *ngIf="users?.length > 0">
  <label *ngFor="let user of users">{{ user.id }} {{user.name }}, </label>
</div>
 <div *ngIf="users?.length == 0">
  <p>user yok</p>
</div>

<form [formGroup]="checkoutFormUpdate">

  <div>
    <label for="id">
      Id
    </label>
    <input id="id" type="number" formControlName="id">
  </div>

  <div>
    <label for="name">
      Name
    </label>
    <input id="name" type="text" formControlName="nameUpdate">
  </div>

  <div>
    <label for="email">
      email
    </label>
    <input id="email" type="text" formControlName="emailUpdate">
  </div>

  <div>
    <label for="password">
      password
    </label>
    <input id="password" type="text" formControlName="passwordUpdate">
  </div>

  <div>
    <label for="password">
      password_confirmation
    </label>
    <input id="password_confirmation" type="text" formControlName="password_confirmationUpdate">
  </div>

  <button class="button" (click)="updateUsers()">Update Users</button>

  <div>
    <label *ngIf="updatedUser">{{ updatedUser.id}}, {{ updatedUser.name }}</label>
  </div>

  <form [formGroup]="checkoutFormDelete">

    <div>
      <label for="id">
        Id
      </label>
      <input id="id" type="number" formControlName="id">
    </div>

    <button class="button" (click)="deleteUsers()">Delete Users</button>

    <div *ngIf="deletedUser">
      <label>{{ deletedUser.id }} {{deletedUser.name }}, {{ deletedUser.email }}</label>
    </div>
</form>

<form [formGroup]="checkoutFormShowUser">

  <div>
    <label for="id">
      Id
    </label>
    <input id="id" type="number" formControlName="id">
  </div>

  <button class="button" (click)="showUser()">Show One User</button>


</form>

<div *ngIf="showSingleUser">
  <label>{{ singleUser.id }} {{singleUser.name }}, {{singleUser.email}}</label>
</div>


<button class="button" (click)="accessToken()">Get Access Token</button>
